			<div class="col-xs-3">
			  <h2>User info</h2>
				<%= form_for(@user) do |f| %>
				  <% if @user.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= @user.errors.count %> error prohibited this obj from being saved:</h2>
				      <ul>
				      	<% @user.errors.full_messages.each do |message| %>
				    	<li><%= message %></li>
				    	<% end %>
				      </ul>
				    </div>
				  <% end %>
				  <div class="field row">
				    <label class="user_name">Name</label>
				    <%= f.text_field :name, class: "name" %>
				  </div>
				  <div class="field row">
				    <label class="user_image">Image</label>
				    <%= f.attachment_field :image, class: "user_image" %>
				  </div>
				  <div class="field row">
			        <label class="user_introduction">introduction</label>
			        <%= f.text_area :body, class: "introduction col-xs-12" %>
			      </div>
			      <div class="actions row">
				    <%= f.submit "Update User" %>
				  </div>
				<% end %>
			</div>